src/main/mule/soap.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:wsc="http://www.mulesoft.org/schema/mule/wsc" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/wsc http://www.mulesoft.org/schema/mule/wsc/current/mule-wsc.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f82c7f7b-7d47-4d0b-b381-953623ec3792" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<wsc:config name="Web_Service_Consumer_Config" doc:name="Web Service Consumer Config" doc:id="d759044a-9a52-463c-a0b4-4d9dd182788e" >
		<wsc:connection wsdlLocation="http://www.dneonline.com/calculator.asmx?wsdl" service="Calculator" port="CalculatorSoap" address="http://www.dneonline.com/calculator.asmx" >
			<wsc:web-service-security actor="http://schemas.xmlsoap.org/soap/actor/next" />
		</wsc:connection>
	</wsc:config>
	<flow name="soapFlow" doc:id="7d7cb56c-2b11-4126-a21e-b8c8d2e572f5" >
		<http:listener doc:name="Listener" doc:id="1f13285e-3ad9-4373-931b-d05864fc1f30" config-ref="HTTP_Listener_config" path="soap"/>
		<set-variable value="88" doc:name="Number1" doc:id="7d4cf2d3-6ceb-494e-a1f5-c1349d1acb66" variableName="Num1"/>
		<set-variable value="77" doc:name="Number2" doc:id="95c0bc45-d734-4563-bdfa-1e784676b19a" variableName="Num2"/>
		<ee:transform doc:name="Transform Message" doc:id="22347ac0-1374-43fb-9535-0a7b1a094e29" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
ns ns0 http://tempuri.org/
---
{
	ns0#Divide: {
		ns0#intA: vars.Num2 as Number,
		ns0#intB: vars.Num1 as Number
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<wsc:consume operation="Divide" doc:name="Consume" doc:id="8937d41e-b684-4255-a29d-f89892554327" config-ref="Web_Service_Consumer_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="0b2cd7dc-855a-4d1b-bc72-36f743751270" message="#[payload]"/>
	</flow>
</mule>
